{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "google",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "require-jsdoc": "off",
    "no-unused-vars": "off",
    "camelcase": "off"
  }
}
