{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "postcss-lit"
  ],
  "rules": {
    "color-function-notation": "legacy",
    "alpha-value-notation": "number",
    "selector-class-pattern": null
  }
}
