.chat-dialog {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid #E1E1E1;
}

.chat-dialog__header {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  align-items: center;
  padding: 0 10px;
}

.chat-dialog__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px ;
  background-color: var(--blue-light);
}

.chat-dialog__send {
  background-color: var(--white);
  color: white;
  display: flex;
  height: 54px;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  & .input {
    width: 100%;

  }

  & .send-button {
    width: 150px;
    margin-left: 10px;
  }
}
