.button {
    padding: 15px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    background: var(--whitest);
    width: 100%;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #F2F2F2;
    }

    &.primary {
        color: var(--white);
        background-color: var(--primary-blue);

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--primary-blue);
        }
    }
}