:root {
  --primary-blue: #32b5ff;
  --secondary-blue: #2180b6;
  --gray: #6a6a6a;
  --gray-light: #afafaf;
  --gray-lightest: #e1e1e1;
  --gray-oppacity: rgba(50, 50, 50, 0.28);
  --white: #f9f9f9;
  --white-deep: #f3f3f3;
  --white-blue: #f3f3f3;
  --red: #e64a4a;
  --light-red: #ffe5e5;
  --yellow: #ffb200;
  --light-yellow: #fff9e2;
  --green: #259009;
  --light-green: #d8ffc2;
  --purple: #b165ec;
  --primary-text: #323232;
  --secondary-text: #828282;
  --whitest: #f2f2f2;
  --blue-light: #f9fdff;
  --green-ligth: #eeffde;
}
