---
css:
- main.css
- header.css
- chat-item.css
---
{{!< main}}
<div class="layout">
    <div class="side">
        <header>
            <div class="header">
                <a href="profile.hbs">
                    <div class="burger">
                        <div class="burger__line"></div>
                    </div>
                </a>
                <div class="header__search">
                    <input class="header__search-input" type="text" name="search" aria-label="search">
                    <label for="search" class="header__search-label">
                        <img src="../../static/icons/loop.svg" alt="search">
                    </label>
                </div>
            </div>
        </header>
        <div class="list-wrap">
            {{#with chats.list}}
                {{#each this}}
                    {{> chatItem}}
                {{/each}}
            {{/with}}
        </div>
    </div>
    <div class="content">
        <main></main>
    </div>
</div>

