--- css: - main.css - profile.css ---
{{!< main}}
<a href='index.hbs'>
  <button class='full-size'>
    <span class='icon-left'>
      ←
    </span>
  </button>
</a>
<div class='block-center'>
  <div class='profile'>
    <div class='profile__avatar'></div>
    <h1 class='profile__title'>
      Username
    </h1>
    <ul class='profile__list'>
      <li class='profile__list__item'>
        <span>
          Почта
        </span>
        pochta@yandex.ru
      </li>
      <li class='profile__list__item'>
        <span>
          Логин
        </span>
        ivanivanov
      </li>
      <li class='profile__list__item'>
        <span>
          Имя
        </span>
        Иван
      </li>
      <li class='profile__list__item'>
        <span>
          Фамилия
        </span>
        Иванов
      </li>
      <li class='profile__list__item'>
        <span>
          Имя в чате
        </span>
        Иван
      </li>
      <li class='profile__list__item'>
        <span>
          Телефон
        </span>
        +7 (909) 999 30 30
      </li>
    </ul>
    <ul>
      <li>
        <a href='edit-profile.hbs'>
          Изменить данные
        </a>
      </li>
      <li>
        <a href='change-password.hbs'>
          Изменить пароль
        </a>
      </li>
      <li>
        <a href='registration.hbs' class='red'>
          Выйти
        </a>
      </li>
    </ul>
  </div>
</div>