---
css:
- form-group.css
---
{{!< main}}
<main>
    <div class="block-center">
        <div class="paper">
            <h1>Регистрация</h1>
            <div class="form-group">
                {{#with registration.inputs}}
                    {{#each this}}
                        {{> input}}
                    {{/each}}
                {{/with}}
                <div class="form-group__item">
                    <button class="button primary mt-4">Зарегистрироваться</button>
                </div>
                <div class="form-group__item">
                    <a href="login.hbs">
                        <button class="button">Войти</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
