.profile-avatar-button {
  width: 130px;
  height: 130px;
  background-color: var(--gray-lightest);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  padding: 0;

  &__label {
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: var(--gray);
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
  }

  &:hover &__label {
    display: flex;
  }
}
