<div class="chat-item">
    <div class="chat-details">
        <span class="chat-details__useravatar"></span>
        <div class="chat-details__wrap">
            <span>{{username}}</span>
            <span class="chat-details__last-message">{{text}}</span>
        </div>
    </div>
    <div class="chat-details__wrap-between">
        <time class="chat-details__time">{{time}}</time>
    </div>
</div>