<main>
  <div class='block-center error-block'>
    <h1 class='error-block__title'>
      {{title}}
    </h1>
    <span class='error-block__description'>
      {{description}}
    </span>
    <a href={{link_href}} class='error-block__link'>
      {{link_name}}
    </a>
  </div>
</main>