.burger {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover > &__line {
    background-color: var(--primary-blue);
  }

  &__line {
    height: 2px;
    width: 100%;
    position: relative;
    background-color: var(--gray-light);
    overflow: visible;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: inherit;
      position: absolute;
    }

    &::before {
      top: -12px;
    }

    &::after {
      bottom: -12px;
    }
  }
}
